header h1 {
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 72px;
    text-align: center;

    margin: 80px 0px 20px 0px;
}

footer {
    text-align: center;
    margin: 20px 0px;
    padding-right: 10px;
}

.main {
    width: 626px;
    height: 241px;
    background: white url(../images/collage.jpg) 0px 0px no-repeat;
    margin: 0px auto;
}